@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

/* ----------------------------------------------------------- Header */

header{
    background-color: #770d56;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
   /*background: linear-gradient( rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)),
    url('https://res.cloudinary.com/daqyuuzq9/image/upload/v1603644783/Copy_of_Galway_Charity_Projects_qjh5lx.png');*/
}

.logo-text{
    color: #fff !important;
    display: inline-block;
    font-size: 4.28rem !important;
    padding-left: 5%;
    padding-top: 5%;
    letter-spacing: 4px;
    line-height: 130%;
    font-weight:900;
}

/* ----------------------------------------------------------- Fonts */


.h1,h2,h3,h4,h5{
    color: #770d56;
    font-family: 'Roboto', sans-serif;
}

/*h1,
h2,
h3,
h4 {
    margin: 0;
    color: #525252;
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}*/

/* ----------------------------------------------------------- Colours */




/* ----------------------------------------------------------- Nav bar */

.dropdown-content{
    top:-60px;
}

/* ----------------------------------------------------------- icons */
.fas{
    color: #770d56;
}


i.fas.fa-exclamation-circle.tooltipped {
    left: 3%;
    position: relative;
}

.fa-sign-in-alt{
    color:white;
}

.btn-large{
    background-color: #770d56;
}

/* ----------------------------------------------------------- Flash Messages*/

.flashes h4 {
    line-height: 2;
}

.flashbox{
    padding:10px;
    border-radius:25px;
}

.flashbox-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flashbox-message {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    
}

.flashbox-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* ----------------------------------------------------------- index.html */
.welcome-text{
    
  text-align: center;
  padding: 32px;
  background-color: #42B6D4;
    color: white;


}




/* ----------------------------------------------------------- List View */
.listViewContainer{
    width: 90%;
    margin: auto;
}


/* ----------------------------------------------------------- Cards */
.fixed-height{
    min-height:470px;
}

.card-image-size{
     min-height:175px;
}

.home-card-height{
    min-height: 340px;
}

.fixed-bottom{
    position: absolute !important; 
    bottom: 0px; 
}




/* ----------------------------------------------------------- Footer */

.page-footer {
    background-color: #770d56;
    margin-top: 10%;
}

/* ----------------------------------------------------------- media queries */

@media screen and (max-width:670px){
    header{
        min-height:250px;
    }
}