header{
    /*background: url(https://user-images.githubusercontent.com/17083566/96911996-8cd12280-1499-11eb-9a44-fd8675133231.png);*/
    background: url(https://user-images.githubusercontent.com/17083566/96912450-521bba00-149a-11eb-89e5-0dff1b9cd002.png);
    background-size: cover;
    background-position: center;
    min-height: 500px; 
}

.h1,h2,h3,h4,h5{
    color: #770d56;
}

/* nav bar */

.dropdown-content{
    top:-60px;
}

.fas{
    color: #770d56;
}


.page-footer {
    background-color: #770d56;
    margin-top: 10%;
}

i.fas.fa-exclamation-circle.tooltipped {
    left: 3%;
    position: relative;
}

.fa-sign-in-alt{
    color:white;
}

.btn-large{
    background-color: #770d56;
}


.flashes h4 {
    line-height: 2;
}

/* Cards */
.fixed-height{
    min-height:470px;
}

.card-image-size{
     min-height:175px;
}

.home-card-height{
    min-height: 340px;
}

.fixed-bottom{
    position: absolute !important; 
    bottom: 0px; 
}


.flashbox{
    padding:10px;
    border-radius:25px;
}

.flashbox-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flashbox-message {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    
}

.flashbox-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* @media queries*/

@media screen and (max-width:670px){
    header{
        min-height:250px;
    }
}