{% extends 'base.html' %} 
{% block content %}

<!--    Error page      -->
<!--    Reference: https://flask.palletsprojects.com/en/1.1.x/patterns/errorpages/  -->
    <div class="container">
        <div class="row center-align">
<!--    Image section    -->
            <img alt="403" class="error-image"
                src="{{ url_for('static', filename='images/403.png') }}">


<!--    Message section    -->
            <div class="col-12">
                <div class="center error-message">
                     <h1>
                       Oh, not allowed here! 
                    </h1>
                    <h4>
                         <a href="{{ url_for('index') }}"><p>Please Click Here </a>To go to the Home Page or use the menu to select another option. </p> 
                    </h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}