{% extends 'base.html' %} 
{% block content %}

<!--    Error page      -->
<!--    Reference: https://flask.palletsprojects.com/en/1.1.x/patterns/errorpages/  -->
    <div class="container">
        <div class="row center-align">
<!--    Image section    -->
            <img alt="500" class="error-image"
                src="{{ url_for('static', filename='images/500.png') }}">

<!--    Message section    -->
            <div class="col-12">
                <div class="center error-message">
                    <h1>
                       Server Error
                    </h1>
                    <h4>
                        Sorry about that, please try again later. 
                       <p><a href="{{ url_for('index') }}">Please Click Here </a>To go to the Home Page or use the menu to select another option. </p> 
                    </h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}