{% extends "base.html" %}
{% block content %}

    <!-- Welcome Message -->
    <div class="welcome-text">
        <h1>Let's Help Together</h1>
        <h5>A home for all the great charity projects taking place in Galway, Ireland</h5>
    </div>
    <!-- Volunteer / Charity Cards -->
    <div class="container">
        <div class="row">
            <div class="col s12 m6 ">
                <div class="card blue-grey darken-1 home-card-height vol-card hoverable">
                    <div class="card-content white-text center-align">
                        <span class="card-title">
                <h1>Volunteers</h1>
                <p>Check out all the latest projects </p>
                <div class="card-action"> 
                <a class="waves-effect waves-light btn-small" href="{{ url_for('get_projects') }}">View Projects</a>
                </div>
                </span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 ">
                <div class="card blue-grey darken-1 home-card-height char-card hoverable">
                    <div class="card-content white-text center-align">
                        <span class="card-title">
                <h1>Charities</h1>
                
                {% if session.user %}
                    <p>Create a project today</p>
                    <div class="card-action">  <a class="waves-effect waves-light btn-small" href="{{ url_for('create_project') }}">Create Projects</a></div>
                {% else %}
                    <p>Register today to get started</p>
                    <div class="card-action">
                    <a class="waves-effect waves-light btn-small" href="{{ url_for('login') }}">
                    Log In To Create Your Project</a>
                    </div>
                {% endif %}
                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}